 .signup-box {
    width: 360px;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  } 
  /* .error-msg{
    color: red;
    display: none;
  }
  .error-msg.show{
    display: block;
  } */
  
  