<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset-password.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="login-box">
        <h1>Reset Password</h1>
                <form action="/password/resetPassword" method="POST">
                    <input type="text" placeholder="" hidden value="<%= id %>" name="id" id="id" />
                    <input type="text" placeholder="" hidden value="<%= userId %>" name="userId" id="userId" />
                    <label for="password">Password</label>
                    <input type="password" placeholder="" name="password" id="password" />
                    <button type="submit" id="resetPasswordBtn">Reset Password</button>
                </form>
    </div>
</body>

</html>