<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset-password.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="login-box">
        <h1>Reset Password</h1>
                <form>
                    <label for="password">Password</label>
                    <input type="password" placeholder="" name="password" id="password" />
                    <input type="button" value="Reset Password" id="resetPasswordBtn" />
                </form>
    </div>
</body>

</html>