<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset-password.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="login-box">
        <h1 class="success-msg">Password updated successfully</h1>
        <p class="para-2">
            <a href="http://127.0.0.1:5500/Expenser%20Tracker/Frontend/login/login.html">Login here</a>
        </p>
    </div>
</body>

</html>